/******************** Main Page Elements Styling ********************/

.page {
   width: 60vw;
   max-width: 800px;
   margin: 0 auto;
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.profile-content {
   height: 200px;
   margin: 3rem 0 2rem;
   position: relative;
}

.profile-content img{
   float: left;
   border-radius: 100%;
}

.profile-content div {
   height: fit-content;
   width: fit-content;
   position: absolute;
   inset: 0 0 0 220px;
   margin: auto 1rem;
   text-align: left;
}

.page-subtitle {
   margin-top: 2rem;
   text-align: justify;
}

.page-subtitle h2 {
   font-size: 1.5rem;
   letter-spacing: .1rem;
   color: #8B75BB;
}

.page-subtitle hr {
   border-style: solid none none;
   border-width: 1px;
   margin-bottom: 1rem;
}

.page-subtitle .hr1 {
   width: 3rem;
   margin-right: 1rem;
}

.page-subtitle .hr2 {
   width: 15rem;
   margin-left: 1rem;
}

.graduation, .careers {
   margin-top: 4rem;
}

.table {
   width: 100%;
   text-align: left;
   padding: 1rem;
}

.table tr {
   height: 2rem;
   vertical-align: initial;
}

.table .last1 {
   height: 8rem;
}

.table .title {
   width: 38%;
   font-size: 1.2rem;
   font-weight: bold;
}

.table .subtitle {
   font-size: 1rem;
   font-weight: bold;
}

.table .time, .description {
   font-size: .8  rem;
   font-weight:lighter;
   text-align: justify;
}

.certificate-container {
   width: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   margin: 2rem 0;

   /* Hide scrollbar for Chrome, Safari and Opera */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.certificate-container::-webkit-scrollbar {
   display: none;
}

.certificate {
   display: inline-block;
   margin-right: 2rem;
}

.certificate img {
   width: 18vw;
}

.certificate a {
   margin: 0 auto;
   padding-bottom: .3rem;
   position: relative;
   display: flex;
   background-color: #8B75BB;
   white-space: normal;
}

.certificate .text {
   height: inherit;
   width: inherit;
   padding: 0 .5rem;
   position: absolute;
   inset: 0;
   background-color: #8B75BB;
   color: #E8E8E8;
   visibility: hidden;
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .2rem;

   -webkit-transition: visibility 0s, opacity 0.3s linear; 
   transition: visibility 0s, opacity 0.3s linear;
}

.certificate .title {
   margin: 0;
   font-family: 'Varela Round', sans-serif;
   font-size: 1.2rem;
   font-weight: bold;
   letter-spacing: .08rem;
   word-wrap: break-word;
   word-break: break-word;
   text-align: center;
}

.certificate .subtitle {
   margin: 0;
   font-size: 1rem;
   font-weight: lighter;

}

.certificate a:hover .text{
   visibility: visible;
   opacity: 0.9;
}
